#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

#
export DH_OPTIONS = -Pdebian/tmp
PKGDIR = $(CURDIR)/debian/tmp

build: build-stamp

build-stamp:
	dh_testdir
	-test -x ./DIST && ./DIST gen
	touch $@

clean:
	dh_testdir
	dh_testroot
	dh_clean
	-$(MAKE) clean
	rm -f configure
	rm -f build-stamp


install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(PKGDIR)
	install -m 0755 debian/wiliki.cgi $(PKGDIR)/usr/lib/cgi-bin

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
#	dh_installdebconf	
	dh_installdocs -i
	dh_installexamples -i src/wiliki-sample.css
	dh_installmenu -i
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron -i
	dh_installman -i
	dh_installinfo -i
#	dh_undocumented -i
	dh_installchangelogs -i ChangeLog
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
#	dh_perl -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch:

binary: binary-indep binary-arch
.PHONY: control build clean binary-indep binary-arch binary install 
