/* sample style sheet for wiliki */

body {
  font-family: verdana, arial, helvetica, sans-serif;
  color: black;
  background-color: #eeeedd;
  margin-left: 2em;
}

h1, h2, h3, h4, h5, h6 {
   text-align: left;
   color: #006655;
   background: transparent;
}
h1 { font: bold 190% }
h2 { font: bold 160% }
h3 { font: bold 130% }
h4 { font: bold 110% }
h5 { font: italic 100% }
h6 { font: small-caps 100% }

pre {
    margin-left: 2em;
    margin-right: 2em;
    font-family: monospace;
    background-color: #ddeeee;
    border: solid thin #aacccc;
}

dt { font-weight: bold }

td.inbody { background: #dddddd }   /* used in formatted body */
td.preview { background: #eeddaa }  /* used in preview page */


